body {
  color: black;
  font-family: "Hiragino Mincho Pro", serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto;
}

.inner {
  /* margin-left: 28px;
  margin-right: 28px; */
}

/* ヘッダー */
.header {
  background-color: black;
  display: flex;
}

.header-logo {
  width: 193px;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header-nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  margin-right: 25px;
  margin-top: 28px;
  margin-bottom: 30px;
}

.nav-item:nth-child(2) {
  margin-left: 25px;
}

.nav-item a {
  color: white;
  font-size: 22px;
}

/* トップ */
.top {
  background-image: url(../image/top-bg.png);
  background-size: cover;
  background-position: center;
  height: 551px;
}

.top-title {
  font-size: 60px;
  padding-top: 240px;
  padding-bottom: 240px;
  text-align: center;
}

/* コース一覧 */
.course {
  padding-top: 50px;
}

.cmn-title {
  font-size: 40px;
  text-align: center;
}

.course-cont {
  padding-top: 40px;
}

.course-list {
  margin-left: 28px;
  margin-right: 28px;
  display: flex;
  justify-content: center;
}

.course-item {
  width: 290px;
  box-shadow: 0px 3px 6px #00000029;
}

.course-item:nth-child(n + 2) {
  margin-left: 20px;
}

.course-item-image {
}

.course-item-text {
  margin: 20px 10px 10px 10px;
}

.course-item-text p {
  font-size: 18px;
  line-height: 1.4;
}

.course-deadline-box {
  text-align: center;
  position: relative;
  margin-top: 48px;
}

.course-deadline-box:before {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background-color: #707070;
  left: 0;
  right: 0;
  top: -9.5px;
  margin: auto;
}

.course-deadline-box p {
  font-size: 16px;
}

.course-deadline-box p:nth-child(2) {
  margin-top: 8px;
}

.course-btn {
  margin-top: 50px;
  text-align: center;
}

.course-btn a {
  box-shadow: 0px 3px 6px #00000029;
  width: 310px;
  font-size: 18px;
  border: 1px solid #eeeeee;
  display: inline-block;
  border-radius: 5px;
  padding-top: 17px;
  padding-bottom: 17px;
}

/* 講師紹介 */
.teacher {
  padding-top: 70px;
  padding-bottom: 80px;
}

.teacher-cont {
  padding-left: 120px;
  padding-right: 120px;
}

.teacher-list {
  padding-top: 45px;
}

.teacher-item {
  display: flex;
  align-items: center;
}

.teacher-item:nth-child(2) {
  margin-top: 60px;
}

.teacher-item-image {
  width: 250px;
}

.teacher-item-text {
  margin-left: 60px;
  flex: 1;
}

.teacher-item-text p {
  margin-top: 30px;
  font-size: 18px;
}

.teacher-item-title {
  font-size: 40px;
}

/* 動き出すなら今だ */
.contact {
  background-image: url(../image/contact-bg.png);
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.contact-title {
  font-size: 36px;
  color: white;
  text-align: center;
}

.contact-text {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
}

.contact-text p {
  line-height: 2;
}

.contact-text p:nth-child(2) {
  margin-top: 20px;
}

.contact-btn {
  text-align: center;
  margin-top: 32px;
}

.contact-btn a {
  background-color: #dc143c;
  color: white;
  font-size: 16px;
  width: 210px;
  display: inline-block;
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 5px;
  font-family: "Helvetica Neue";
}

/* フッター */
.footer {
  background-color: black;
  padding-top: 32px;
  padding-bottom: 31px;
}

.footer p {
  font-size: 14px;
  color: white;
  text-align: center;
  font-family: "Helvetica Neue";
}

/* レスポンシブ対応 */
@media only screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }

  .top-title {
    font-size: 26px;
  }

  .course-list {
    display: block;
  }

  .course-item {
    width: 100%;
  }

  .course-item:nth-child(n + 2) {
    margin-left: 0;
    margin-top: 30px;
  }

  .teacher-cont {
    padding-left: 0;
    padding-right: 0;
  }

  .teacher-item {
    display: block;
  }

  .teacher-item-image {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
  }

  .teacher-item-text {
    margin-left: 26px;
    margin-right: 26px;
  }

  .teacher-item-title {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
  }

  .course-deadline-box {
    padding-bottom: 30px;
  }
}
